

html, body {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1
{
	text-align: center;
	font-family: "Courier New", sans-serif;
	font-weight: bold;
}

body
{
font-family: "Noteworthy", sans-serif;
}


{ /* The part that follows allows to keep the footer down////////////////////////////////////////////// */
    margin: 0;
}
html, body {
    height: 100%;
}

a {
	display: block;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

/* End of the part that allows to keep the footer down//////////////////////////////////////////////// */

a {
	margin: auto;
	background-color: #A5C426;
	border: 2px black solid;
	margin: 0px 10px 10px 10px;
	text-align: left;
	display: block;

float: left;
	padding: 5px 5px 5px 20px;

	font-weight: bold;
	text-decoration: none;

	width: 160px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

a:hover {
	background-color: #EA2677;
	font-size: 17px;
}

#poem
{
	margin-top: 15em;
	font-family: "Papyrus", sans-serif;
}
.firstp
{
	margin: 2em 0em 0em 0em;
}
.p
{
	margin: 0px;
}


/*"MINDFULNESS" Section */

#whatisbody
{
	background-color: #7ABBCC;
}

#explanation
{
float: left;

	font-family: "Papyrus", sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	color: black;

	width: 560px;
	padding: 20px 0;
	margin: 0 0 0 30px;

}
#side_symbol {
	display: block;
	width: 30%;
	float: right;
	margin: 30px 100px 0 0;
	position: relative;
}


}
.list
{
	font-family: "Papyrus", sans-serif;
	font-size: 1.2em;
	color: white;
}
/* END OF MINDFULNESS SECTION */

#aboutbody{
	background-color: #A9C05E
}
#meditationbody {
	background-color: #FD8EC7
}
#booksbody
{
background-color: #E0D2C1 
}
#photographsbody {
	background-color: #5D9DB6
}



